
<div class="container">
  <h2>Login</h2>
  <p>Check your email for password.<span>{{user.email}}</span></p>
      <form  name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div id="remember" class="checkbox">

      </div>
      <button class="btn btn-default " type="submit">Login</button>
        <a [routerLink]="['/register']" class="btn btn-link">or register</a>
    </form><!-- /form -->
</div><!-- /container -->
